.nav{
  list-style-type: none;
  display: flex;
  background-color: rgb(227, 89, 11);

  height: 90px;

}
 .active{
   font-weight: bold;
 }
.nav li{
  margin-top:42px;
  margin-right: 15px;
  color:rgb(220, 230, 216);
}

.footer{
  height:30px;
  background-color: rgb(227, 89, 11);


}
.footer {
    position:fixed;
    bottom: 0;
    width:100%;

}
